<ion-header class="ion-no-border">
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-button (click)="volver()">
                <ion-icon slot="start" name="chevron-back-outline"></ion-icon>
            </ion-button>
        </ion-buttons>

        <ion-buttons slot="end">
            <ion-button (click)="favorito()">
                <ion-icon slot="end" name="heart-outline" *ngIf="!existe"></ion-icon>
                <ion-icon slot='end' name="heart" *ngIf="existe"></ion-icon>
            </ion-button>
        </ion-buttons>
    </ion-toolbar>
</ion-header>

<ion-content fullscreen="true">
    <ion-label class="titulo">
        <h1>{{pelicula.original_title}}</h1>
    </ion-label>
    <img [src]='pelicula.backdrop_path | imagen' *ngIf="pelicula.backdrop_path" />

    <ion-grid>
        <ion-row>
            <ion-col size='4' class="poster-detalle-sobre">
                <ion-card class="poster">
                    <img [src]='pelicula.poster_path | imagen' *ngIf="pelicula.poster_path" />
                </ion-card>
            </ion-col>
            <ion-col size='7' style="margin-left: 20px;">
                <ion-item>
                    <ion-icon name="thumbs-up-sharp" slot="start" color='primary'></ion-icon>
                    <ion-label>Rating</ion-label>
                    <ion-note slot="end" color='primary'>{{pelicula.vote_average}}</ion-note>
                </ion-item>
                <ion-item>
                    <ion-icon name="trending-up" slot="start" color='primary'></ion-icon>
                    <ion-label>Votos</ion-label>
                    <ion-note slot="end" color='primary'>{{pelicula.vote_count}}</ion-note>
                </ion-item>
            </ion-col>
        </ion-row>
    </ion-grid>


    <ion-grid style="position: relative; top: -40px">
        <ion-row>
            <ion-col size='12'>
                <ion-chip *ngFor="let genre of pelicula.genres" color='primary'>
                    <ion-label>{{genre.name}}</ion-label>
                </ion-chip>
            </ion-col>
        </ion-row>
        <ion-row>
            <ion-col size='12'>
                <ion-label>{{pelicula.overview | slice: 0:oculto}}... </ion-label>
                <ion-label color='primary' (click)='oculto = 5000' *ngIf="oculto !== 5000">Leer más!</ion-label>
            </ion-col>
        </ion-row>

        <!--Actores-->
        <ion-row>
            <ion-col size="12">
                <ion-label>Actores</ion-label>
            </ion-col>
        </ion-row>

        <ion-slides [options]='slideOptActores'>
            <ion-slide class="card-actor" *ngFor="let actor of actores.cast">
                <ion-card style="min-height: 228px;">
                    <img *ngIf="!actor.profile_path" src='/assets/no-avatar.jpg' class="card-image" />
                    <img *ngIf="actor.profile_path" [src]='actor.profile_path | imagen' class="card-image" />
                    <ion-label>
                        {{actor.name}}
                    </ion-label>
                </ion-card>
            </ion-slide>
        </ion-slides>
    </ion-grid>
</ion-content>