<ion-content>


  <ion-slides class="mainSlide" [options]='slide_principal_options' #slide_principal>

    <ion-slide>

      <form (ngSubmit)="login(formLogin)" #formLogin='ngForm'>
        <ion-grid fixed>
          <ion-row>
            <ion-col>
              <img src="/assets/avatars/av-1.png">
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col>
              <ion-list>
                <ion-item lines='none'>
                  <ion-label>Email</ion-label>
                </ion-item>
                <ion-item>
                  <ion-input name="email" type="email" color="medium" [(ngModel)]='loginUser.mail'
                    placeholder="mail@mail.com" required></ion-input>
                </ion-item>
                <ion-item lines='none'>
                  <ion-label>Password</ion-label>
                </ion-item>
                <ion-item>
                  <ion-input name="password" placeholder="password" type="password" color="medium"
                    [(ngModel)]='loginUser.password' required>
                  </ion-input>
                </ion-item>
              </ion-list>
            </ion-col>
          </ion-row>

          <ion-row>
            <ion-col>
              <ion-button type="submit" color="tertiary" shape="round">
                Login
              </ion-button>
            </ion-col>
          </ion-row>

        </ion-grid>
      </form>



    </ion-slide>

    <ion-slide>


      <ion-grid fixed>

        <ion-row>
          <ion-col>
            <h3>Seleccione Avatar</h3>
          </ion-col>
        </ion-row>

        <ion-row>
          <ion-col>
            <ion-slides [options]='avatar_slide_options'>
              <ion-slide *ngFor="let avatar of avatars">
                <ion-img class="pick-avatar" src="/assets/avatars/{{avatar.img}}"
                  [ngClass]="{'pick-avatar-seleccionado': avatar.seleccionado}" (click)="seleccionarAvatar(avatar)">
                </ion-img>
              </ion-slide>
            </ion-slides>
          </ion-col>
        </ion-row>

        <form (ngSubmit)='signup(formSignUp)' #formSignUp='ngForm'>
          <ion-row>
            <ion-col>

              <ion-list>

                <ion-item lines='none'>
                  <ion-label>Email</ion-label>
                </ion-item>
                <ion-item>
                  <ion-input name="email" type="email" color="medium" [(ngModel)]='signUpUser.mail' required>
                  </ion-input>
                </ion-item>

                <ion-item lines='none'>
                  <ion-label>Nombre</ion-label>
                </ion-item>
                <ion-item>
                  <ion-input name="nombre" type="text" color="medium" [(ngModel)]='signUpUser.name' required>
                  </ion-input>
                </ion-item>

                <ion-item lines='none'>
                  <ion-label>Password</ion-label>
                </ion-item>
                <ion-item>
                  <ion-input name="password" type="password" color="medium" [(ngModel)]='signUpUser.password' required>
                  </ion-input>
                </ion-item>

              </ion-list>
            </ion-col>
          </ion-row>

          <ion-row>
            <ion-col>
              <ion-button type="submit" color="tertiary" shape="round">
                Crear usuario
              </ion-button>
            </ion-col>
          </ion-row>

        </form>
      </ion-grid>


    </ion-slide>


  </ion-slides>



</ion-content>


<ion-footer no-border>
  <ion-toolbar>

    <ion-row>

      <ion-col>
        <ion-button shape="round" expand="full" size="small" fill="outline" color="tertiary" (click)="getSignup()">
          Ingresar
        </ion-button>
      </ion-col>

      <ion-col>
        <ion-button shape="round" expand="full" size="small" fill="outline" color="tertiary" (click)="getLogin()">
          Registrarme
        </ion-button>
      </ion-col>

    </ion-row>



  </ion-toolbar>
</ion-footer>